#clockContainer{
    position: relative;
    width: 400px;
    height: 500px;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    margin-top: 150px;
    
}

#hour , #minute , #second {
    position: absolute;
    background: gray;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 5px;
    height: 20%;
    margin-top: 40%;
    margin-left: 49.6%;
    opacity: 0.8;
}

#minute{
    width: 3px;
    height: 24%;
    margin-top: 35%;
    margin-left: 50%;
    opacity: 0.8;
}

#second{
    width: 1px;
    height: 24%;
    margin-top: 35%;
    margin-left: 50%;
    opacity: 0.8;
}